// Define width breakpoints
$medium: 576px;
$large: 768px;
$xlarge: 1024px;

// Define colour palette 500
$red: #f44336;
$pink: #e91e63;
$light_purple: #9c27b0;
$dark_purple: #673ab7;
$indigo: #3f51b5;
$dark_blue: #2196f3;
$light_blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$dark_green: #4caf50;
$light_green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$light_orange: #ff9800;
$dark_orange: #ff5722;

// Define colour palette 1
$red: #e44;
$pink: #e69;
$light_purple: #96c;
$dark_purple: #000;
$indigo: #000;
$dark_blue: #17b;
$light_blue: #000;
$cyan: #000;
$teal: #000;
$dark_green: #1a7;
$light_green: #000;
$lime: #000;
$yellow: #fc4;
$amber: #000;
$light_orange: #f84;
$dark_orange: #000;

// Define colour palette 2
//$red: #000;
//$pink: #c46;
//$light_purple: #a59;
//$dark_purple: #55a;
//$indigo: #000;
//$dark_blue: #17b;
//$light_blue: #000;
//$cyan: #000;
//$teal: #099;
//$dark_green: #000;
//$light_green: #000;
//$lime: #000;
//$yellow: #000;
//$amber: #000;
//$light_orange: #000;
//$dark_orange: #000;

// Define colour palette 3
//$red: #000;
//$pink: #e91e63;
//$light_purple: #000;
//$dark_purple: #9c27b0;
//$indigo: #000;
//$dark_blue: #1565c0;
//$light_blue: #000;
//$cyan: #000;
//$teal: #0097a7;
//$dark_green: #000;
//$light_green: #00c853;
//$lime: #000;
//$yellow: #ffd600;
//$amber: #000;
//$light_orange: #f57c00;
//$dark_orange: #000;