@import './styles/config.scss';
@import './styles/mixins.scss';

:global {

	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	body {
		background-color: #f6f8fb;
		height: 100%;

		#wrapper {
			float: left;
			height: 100%;
			width: 100%;
		}
	}

}

:local {

	.app {
		display: flex;
		float: left;
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

}