@import './styles/config.scss';

:global {

	body {
		background-color: $dark_blue;
		display: flex;
		height: 100%;
		font-size: 19px;

		#wrapper {
			display: flex;
			flex: 1 1 auto;
		}
	}

}

:local {

	.app {
		display: flex;
		flex: 1 1 auto;
		flex-flow: column;
	}

}