@import './styles/config.scss';
@import './styles/mixins.scss';

:global {

	html {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	body {
		background-color: $light_blue;
		display: flex;
		height: 100%;

		#wrapper {
			display: flex;
			flex: 1 1 auto;
		}
	}

}

:local {

	.app {
		display: flex;
		flex: 1 1 auto;
		overflow: hidden;
		width: 100%;
	}

}