@import '../styles/config.scss';

:local {

	.sheet {
		flex: 1 1 auto;
		overflow-x: scroll;
		padding: 20px;

		&:nth-child(1) {
			background-color: rgba(255, 255, 255, 1);
		}
		&:nth-child(2) {
			background-color: rgba(255, 255, 255, 0.95);
		}
		&:nth-child(3) {
			background-color: rgba(255, 255, 255, 0.9);
		}
		&:nth-child(4) {
			background-color: rgba(255, 255, 255, 0.85);
		}

		&:first-child {
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
		&:not(:last-child) {
			border-right: 1px solid rgba($dark_blue, 0.2);
		}
		&:last-child {
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
		}
	}

}