@import '../styles/config.scss';

:local {

	.main {
		display: flex;
		flex: 1 1 auto;
		padding: 20px;

		.sheet {
			flex: 1 1 auto;

			&:nth-child(1) {
				background-color: rgba(255, 255, 255, 1);
			}
			&:nth-child(2) {
				background-color: rgba(255, 255, 255, 0.95);
			}
			&:nth-child(3) {
				background-color: rgba(255, 255, 255, 0.9);
			}

			&:first-child {
				border-radius: 5px 0 0 5px;
			}
			&:not(:last-child) {
				border-right: 1px solid rgba($dark_blue, 0.2);
			}
			&:last-child {
				border-radius: 0 5px 5px 0;
			}

		}
	}

}