@import '../../../styles/config.scss';
@import '../../../styles/extends.scss';

:local {

	.result {
		@extend .shadow;

		background-color: #fff;
		border-radius: 3px;
		float: left;
		margin-bottom: 15px;
		padding: 15px;
		width: 100%;

		h6 {
			color: rgba(0, 0, 0, 0.87);
			float: left;
			font-size: 0.9em;
			width: 100%;
		}
		h2 {
			float: left;
			font-size: 1.2em;
			width: 100%;
		}
		p {
			color: rgba(0, 0, 0, 0.37);
			float: left;
			font-size: 0.7em;
			width: 100%;
		}

		&[data-type=topic] {

			h2 {
				color: $topic_color;
			}
		}
		&[data-type=lesson] {

			h2 {
				color: $lesson_color;
			}
		}

		&:hover {

			h6 {
				color: rgba(255, 255, 255, 0.7);
			}
			h2 {
				color: #fff;
			}
			p {
				color: rgba(255, 255, 255, 0.5);
			}
		}
		&[data-type=topic]:hover {
			background-color: $topic_color;
			border-bottom-color: $topic_color;
		}
		&[data-type=lesson]:hover {
			background-color: $lesson_color;
			border-bottom-color: $lesson_color;
		}
	}

}