@import '../../styles/config.scss';
@import '../../styles/extends.scss';

:local {

	.search {
		width: 100%;

		.input {
			float: left;
			margin-bottom: 15px;
			width: 100%;

			input {
				@extend .shadow;

				border-radius: 3px;
				color: rgba(0, 0, 0, 0.54);
				float: left;
				font-size: 0.9em;
				padding: 15px;
				width: 100%;
			}
		}
		.results {
			float: left;
			width: 100%;
		}
	}

}