@import '../../styles/config.scss';

:local {

	.header {
		background-color: $medium_blue;
		box-shadow: 0 3px rgba(0, 0, 0, 0.1);
		display: flex;
		flex: 0 0 auto;

		.menu {
			align-items: center;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			padding: 15px;

			i {
				color: #fff;
				text-shadow: 0 3px rgba(0, 0, 0, 0.1);
			}
		}
		.title {
			align-items: center;
			display: flex;
			float: left;
			flex: 1 1 auto;
			padding: 15px;
			text-align: center;

			h1 {
				color: #fff;
				float: left;
				font-size: 1rem;
				font-weight: normal;
				text-shadow: 0 3px rgba(0, 0, 0, 0.1);
				width: 100%;
			}
		}
		.back {
			align-items: center;
			display: flex;
			flex: 0 0 auto;
			padding: 15px;
			text-decoration: none;

			i {
				color: #fff;
				text-shadow: 0 3px rgba(0, 0, 0, 0.1);
			}
		}
	}

}